ul.info {
    background-color: rgb(255, 255, 255);
}

button {
    background-color: rgb(255, 255, 255);
}
button:hover {
    background-color: rgb(140, 228, 255);
}
/*
Main Menu
*/
img.homescreen {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
button.menuinfo {
    position: absolute;
    width: 45mm;
    height: 26mm;
    top: 1%;
    left: 27%;
}
button.menucreators {
    position: absolute;
    top: 1%;
    right: 27%;
}
button.menupatch {
    position: absolute;
    top: 1%;
    left: 42%;
}
h1.versions {
    -webkit-transform: rotate(30deg); 
    -moz-transform: rotate(30deg); 
    position: absolute;
    top: 80px;
    right: 10%;
    font-size: 33px;
    color: black;
}
/*
Info
*/
button.game {
    position: absolute;
    top: 10px;
    left: 10px;
}
button.infomenu {
    position: absolute;
    top: 10px;
    left: 41mm;
}
/*
About the Creators
*/
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 25px;
}
/*
Patch Notes
*/
p.patchversion {
    position: absolute;
    top: 8%;
    left: 20%;
}
/*
Game
*/
h1.version {
    position: absolute;
    bottom: 1%;
    left: 2%;
}
button.save {
    position: absolute;
    top: 46mm;
    left: 8cm;
}

button.load {
    position: absolute;
    top: 77mm;
    left: 8cm;
}
input.load {
    position: absolute;
    top: 108mm;
    left: 8cm;
    width: 20%;
    height: 4.5%;
}
button.savetxt {
    position: absolute;
    top: 46mm;
    left: 133mm;
}

button.loadtxt {
    position: absolute;
    top: 77mm;
    left: 133mm;
}
.loadtxt>input {
    display: none;
}
img.click {
    border: 2px solid black;
}
a.dababy {
    position: absolute;
    right: 1%;
    font-size: 50px;
    color: white;
}
img.dialogue {
    border: 2px solid black;
    border-collapse: collapse;
}
img.blob {
    position: absolute;
    top: 108mm;
    left: 108mm;
}
img.blob:hover {
    background-color: rgb(140, 228, 255);
}