ul.info {
    background-color: rgb(255, 255, 255);
}

button {
    background-color: rgb(255, 255, 255);
}
button:hover {
    background-color: rgb(140, 228, 255);
}
/*
Main Menu
*/
img.homescreen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 50%;
    top: 100px;
}
button.menuinfo {
    position: absolute;
    width: 45mm;
    height: 26mm;
    top: 10px;
    left: 35.5%;
}
button.menucreators {
    position: absolute;
    top: 10px;
    right: 35.5%;
}
/*
Info
*/
button.game {
    position: absolute;
    top: 10px;
    left: 10px;
}
button.infomenu {
    position: absolute;
    top: 10px;
    left: 41mm;
}
/*
About the Creators
*/
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 25px;
}
/*
Game
*/
button.save {
    position: absolute;
    top: 46mm;
    left: 8cm;
}

button.load {
    position: absolute;
    top: 77mm;
    left: 8cm;
}
input.load {
    position: absolute;
    top: 108mm;
    left: 8cm;
    width: 20%;
    height: 4.5%;
}
button.savetxt {
    position: absolute;
    top: 46mm;
    left: 133mm;
}

button.loadtxt {
    position: absolute;
    top: 77mm;
    left: 133mm;
}
.loadtxt>input {
    display: none;
}
img.click {
    border: 2px solid black;
}