<!DOCTYPE html>
<html lang="en">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.rawgit.com/eligrey/FileSaver.js/5ed507ef8aa53d8ecfea96d96bc7214cd2476fd2/FileSaver.min.js"></script>
    <script src="/script"></script>
    <script src="/version"></script>
    <script>
    score = Number("<%= score %>")
    username = "<%= username %>"
    console.log(username)
    window.onload = function(){
        document.getElementById('version').innerText = version
    }
    </script>
    <link rel="stylesheet" href="/css">
<head>
    <script type="text/javascript">
    //60 = 1 min// 600 = 10 min
        let min10 = Math.floor(Math.random() * 10)
        let time10to15 = 10 + min10
        let checktime = 60 * time10to15
        console.log(`min10 = ${min10}, time10to15  = ${time10to15}, checktime = ${checktime}`)
        setInterval(function() {
        let time = new Date;
        console.log(`(${time}) + (${time10to15}) + (${checktime * 10})`)
        return alert(`Are you there? It has been ${time10to15} minutes`)
        }, checktime * 1000);
        window.onload = function() {
            document.getElementById('version').innerHTML = version
        }
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blob Clicker</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/blob/yellow blob.gif"/>
    <button class="menu" onclick="bewareIndex()"><img src="/img/main menu.png" height="70"></button>
</head>
    <body>
        <div style="position: absolute;top: 50px;right: 5%;font-family: 'dogicapixel';" id="display_username"><h2><a id="username">Not logged in</a></h2></div>
        <div style="position: absolute;top: 3px;right: 5%;font-family: 'dogicapixel';" id="login"><h4><a href="/login">Click here to Login </a></h4></div>
        <div id="divscore"><a onclick="purp()">Score:</a><a onclick="dababy()"class="dababy">Lets Go</a></div>
        <p class="score" id="score" onclick="blue(1)">0</p>
        <br>
        <img class="click" id="click" src="img/blob/yellow blob.gif" height="280px" width="280px" onclick="addToScore(1)">
        <br>
        <img class="dialogue" id="dialogue" src="img/blob/dialogue/yellow.png">
        <p class="dialogue2" id="dialogue2" style="border: 2px solid transparent"><br></p>
        <!--
        <img class="blob" id="blob" src="" onclick="red()" height="100px" style="border: 2px solid transparent">
        <img class="pumpkin" id="pumpkin" src="" onclick="red()" height="100px" style="border: 2px solid transparent">
        -->
        <button class="save" id="save" onclick="save()"><img src="img/save.png" height="100"></button>
        <!--
        <button class="load" onclick="load()"><img src="img/load.png" height="100"></button>
        -->
        <button class="savetxt" onclick="savetxt()"><img src="img/save_as_.txt.png" height="100"></button>
        <br><br><br>
        <!--
        <button class="loadtxt">
            <label for="file-input">
              <img src="img/load_as_.txt.png" height="100"/>
            </label>
          
            <input id="file-input" type="file" accept='.txt' onchange="openFile(event)"/>
        </button>
        -->
        <h1 class="version" id="version">V 1.0.0</h1>
        <input class="input-coinflip" id="coinflip" type="number" value="" placeholder="Put a number in to gamble (Has to be less than what you have)">
        <button class="btn-coinflip" onclick="coinflip()">Gamble</button>
        <!--        
        <h1>Blackjack</h1>
        <p id="text-area">Welcome to Blackjack!</p>
        <input style="font-family: 'dogicapixel';"id="blackjack" type="number" style="display: block;" value="" placeholder="Insert Number">
        <br><br>
        <button id="new-game-button">New Game!</button>
        <button id="hit-button">Hit!</button>
        <button id="stay-button">Stay</button>
        <script src="/blackjack"></script>
        -->
      </body>
</html>