<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    h1.version {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    body {
        background-image: url('/img/kirbo-spin.gif');
    }
    </style>
    <script>
        function info(){
            location.href = "/info"
        }
        function game(){
            location.href = "/game"
        }
        window.onload = function(){
            document.getElementById('version').innerHTML = 'KirboGoSpin in load box'
        }
    </script>
    <title>Kirbo Go BRRRRRRRRRRRRRRRRRRRR</title>
    
    <link rel="shortcut icon" type="image/x-icon" href="img/blob/yellow blob.gif"/>
</head>
<body>
    <img style="height: 100%;width: 100%;position: absolute;" onclick="game()" src="/img/blank.png"></img>
    <h1 class="version" id="version">V 1.0.0 is out</h1>
</body>
</html>
