<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css">
    <script src="/script"></script>
    <script src="/version"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patch Notes</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/blob/yellow blob.gif"/>
    <button class="game" onclick="game()"><img src="/img/game.png" height="70"></button>
    <button class="infomenu" onclick="menu()"><img src="/img/main menu.png" height="70"></button>
    <script>
        function menu(){
            location.href = "/"
        }
        function game(){
            location.href = "/game"
        }
        window.onload = function() {
            document.getElementById('version').innerHTML = version
        }
    </script>
</head>
<body>
    <br><br><br><br>
    <h1 class="patchversion">Current Version: <a id="version">V 1.0.0</a></h1>
    <h1>V 2.2.0 (November 7, 2021)</h1>
    <p>
        <ul>
            <li>Added Prestige System to give more clicks</li>
        </ul>
    </p>
    <h1>V 2.1.0 (November 1, 2021)</h1>
    <p>
        <ul>
            <li>Added leaderboard page</li>
            <li>Some Blob Reactivated (Pumpkin, Purple, Blue, Dababy)</li>
        </ul>
    </p>
    <h1>V 2.0.0 (October 31, 2021)</h1>
    <p>
        <uL>
            <li>Added account system,</li>
            <li>Temporarily disabled all special blobs</li>
            <li>Removed old Load Options.</li>
        </uL>
    </p>
    <h1>V 1.1.1 (October 22, 2021)</h1>
    <p>
        <ul>
            <li>Fixed major bug involving negative number in coinflip (thank Cullen for finding it)</li>
        </ul>
    </p>
    <h1>V 1.1.0 (October 21, 2021)</h1>
    <p>
        <ul>
            <li>Added a new way of getting score: Gambling!</li>
            <li>Added two new blobs</li>
        </ul>
    </p>
    <h1>V 1.0.2 (October 19, 2021)</h1>
    <p>
        <ul>
            <li>Fixed bug involving Inspect Element to give unlimited score</li>
        </ul>
    </p>
    <h1>V 1.0.1 (October 18, 2021)</h1>
    <p>
        <ul>
            <li>Updated the about the creators page and added erasevfx's youtube link</li>
        </ul>
    </p>
    <h1>V 1.0.0 (October 18, 2021)</h1>
    <p>
        <ul>
            <li>Added patch notes</li>
            <li>Fixed some bugs</li>
            <li>Made red blob easier to find</li>
        </ul>
    </p>
</body>
</html>
