<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Conditions</title>
</head>
<body>
    <h1>Terms and Conditions</h1>
    <li>
        We are allowed to access your account to edit your score and other data
    </li>
    <li>
        We are allowed to delete your account of nessary for abusing bugs or doing something bad.
    </li>
    <li>
        You can't ask for a rollback if you lose your score
    </li>
    <li>
        You cant ask us to increase your score
    </li>
    <li>
        You can not beg us to change your username
    </li>
    <li>
        Do not complain about anything being disable because we are lazy to fix
    </li>
</body>
</html>
